body{
    color: aliceblue !important;
}

.titulos{
    font-family: 'Amatic SC', cursive;
    font-family: 'Puppies Play', cursive;
   
    font-size: 60px !important;

}

.fondo{
    background: rgb(4,48,78);
    background: linear-gradient(90deg, rgba(4,48,78,1) 0%, rgba(26,23,74,1) 34%, rgba(9,166,236,1) 87%, rgba(9,166,236,1) 91%, rgba(0,212,255,1) 100%);
}

.fondobanner{
 background-image: url("img/hd.jpg");
 height: 600px;
 background-attachment: fixed;
 background-position: top center;
}

.editCard{
    background-color: rgba(0,0,0,.30)!important; 
}