body{
    background-color: rgb(247, 247, 247);
}
.logo{
    width: 150px;
    
}
.menu{
    font-size: 22px;
}

.titulos{
    font-family: 'Amatic SC', cursive;
    font-family: 'Puppies Play', cursive;
   
    font-size: 60px !important;

}



.fondobanner{
 background-image: url("img/hd.jpg");
 height: 600px;
 background-attachment: fixed;
 background-position: top center;
}

.editCard{
    background-color: rgba(0,0,0,.30)!important; 
}
.icono{
    font-size: 15px !important;
}